DATABASE_URL="postgresql_string_connection"

BETTER_AUTH_SECRET="replace-with-a-long-random-secret"
BETTER_AUTH_URL="http:/ip:port"
EXPO_PUBLIC_API_URL="http://ip:port"
DATABASE_URL="string_connect_database"

BETTER_AUTH_SECRET="replace-with-a-long-random-secret"
BETTER_AUTH_URL="http://ip:port"
EXPO_PUBLIC_API_URL="http://ip_port"
EXPO_PUBLIC_APP_SCHEME="better-auth-dashboard"

EXPO_PUBLIC_RESEND_TEST_EMAIL="your-resend-account-email@example.com"
EXPO_PUBLIC_EMAIL_VERIFICATION_APP_URL="better-auth-dashboard://verify-email"
EXPO_PUBLIC_EMAIL_VERIFICATION_URL="better-auth-dashboard://dashboard"

SMTP_HOST="smtp.resend.com"
SMTP_PORT="465"
SMTP_USER="resend"
SMTP_PASS="re_23kyqfFa_E3uNvhh1DLTsZ5wGNq4CWAWy"
SMTP_FROM="onboarding@resend.dev"